*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:0 1px 0 #333;
    
}

@media screen and (max-width:800px) {
   .row{
    display:flex;
   }
}

@keyframes apparition {
    from {
        margin-left: -200px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
 }



.row{
    margin-left: 20px;
    display: flex;
    height: 88%;
    align-items: center;
    text-align: center;
}

h1{
    animation-duration: 5s;
    animation-name:apparition;
    color: #fff;
    font-size: 100px;
    text-align: center;
    
}
h1:hover{
    color: #FCD535;
    transition: all 1s ease-out;
}

p{ 
    animation-duration: 5s;
    animation-name:apparition;
    color: #fff;
    font-size: 11px;
    line-height: 15px;

}

p:hover{
    color: #FCD535;
    transition: all 1s ease-out;

}

li{
    animation-duration: 2s;
    animation-name:apparition;
    list-style: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:0 1px 0 #333;
    text-align: left;
    margin-top: 40px;
}

iframe#vid{
    animation-duration: 5s;
    animation-name:apparition;
    margin-top: 90px;
    width: 500px;
   border-radius: 50px;
   
}

button{
    animation-duration: 4s;
    animation-name:apparition;
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
}

button:hover{
    background-color: #FCD535;
    transition: all 1s ease-out;
    
}


              